<nav>
  <ul>
    {% for node in entity.hierarchy %}
    <li>
      <a data-entity-type="{{ node.type }}" href="{%- if node.name === "ROOT" -%}/ROOT{%- else -%}/{{ node.uri }}{%- endif -%}" title="{{ node.name }}">
      {%- if node.name === "ROOT" -%}Root{%- else -%}{{ node.name}}{%- endif -%}
      </a>
    </li>
    {% endfor %}

    {% if type === "raw" %}
    <li><span>Raw</span></li> 
    {% endif %}

    {% if type === "revision-list" %}
    <li><span>Revisions</span></li> 
    {% endif %}

    {% if type === "revision" %}
    <li><span><a href="/{{ uri }}/revisions" title="View this article's revisions">Revisions</a></span></li> 
    <li><span>{{ revisionData.shortId }}</span></li> 
    {% endif %}
  </ul>
</nav>