<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Nikhil Anand" />
    <meta name="description" content="Nikhil's Personal Wiki" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:image" content="/img/logo512.png" />
    <meta property="og:site_name" content="Nikhil's Personal Wiki" />

    <link rel="icon" href="/img/favicon.png" />
    <link rel="apple-touch-icon" href="/img/logo192.png" />
    <link rel="og:image" href="/img/logo512.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="manifest" href="/manifest.json" />

    <title>List of Articles</title>
  </head>
  <body>
    <div class="container articles">
      <header>
        <nav>
          <ul>
            <li>
              <a href="/search"><span>Search</span></a>
            </li>
            <li>
              <a href="/Hello"><span>Home</span></a>
            </li>
            <li>
              <a href="/articles"><span>Articles</span></a>
            </li>
            <li>
              <a href="/random"><span>Random</span></a>
            </li>
          </ul>
        </nav>
        <h1>Articles <span>{{ articles | length }}</span></h1>
      </header>
      <main id="list-of-articles">
        <form role="search">
          <input type="search" class="search" />
          <noscript>You'll sadly need JavaScript for this feature...</noscript>
        </form>
        <ul class="list">
          {% for article in articles %}
          <li>
            <a
              href="/{{ article.uri }}"
              title="Read {{ article.name }}"
              class="path"
            >
              {{ article.path | replace(".md", "") | replace("/", " &rarr; ") |
              safe }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </main>
      <footer>
        <ul>
          <li>
            <a
              href="https://github.com/afreeorange/bock"
              title="Link to this project on Github"
              >{{ name }} v{{ version }}</a
            >
          </li>
        </ul>
      </footer>
    </div>
    <script src="/js/list.min.js"></script>
    <script>
      (() => {
        new List(document.getElementsByTagName("main")[0], {
          valueNames: ["path"],
        });
      })();
    </script>
  </body>
</html>
