:root {
  /* Measurements */
  --border-radius: 0.25em;
  --line-height: 1.5;
  --max-width: 75%;
  --root-spacing: 1em;

  /* Sizes */
  --font-size-small: small;

  /* Colors */
  --color-black: #101010;
  --color-grey-dark: #666;
  --color-grey-light: #ccc;
  --color-grey-superlight: #eee;
  --color-grey: #999;
  --color-highlight-light: #ff0000;
  --color-highlight: #ff3300;
}

html,
body {
  color: var(--color-black);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  line-height: var(--line-height);
}

.container {
  margin: 0 auto;
  max-width: var(--max-width);
}

pre,
code {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  font-size: var(--font-size-small);
}

a {
  color: var(--color-highlight);
  text-underline-offset: 2px;
}
a:hover {
  color: var(--color-highlight-light);
}

hr {
  border: 0;
  border-top: 1px dotted var(--color-grey-light);
}

em {
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-size: 110%;
}

/* BADGES */

h1 > span,
h2 > span {
  background-color: var(--color-highlight-light);
  border-radius: 2em;
  color: white;
  display: inline-flex;
  font-size: 14px;
  justify-content: center;
  margin-bottom: 0.25em;
  min-width: 0.8em;
  padding: 0.125em 0.5em;
  vertical-align: middle;
}
h1 > span + span,
h2 > span + span {
  margin-left: calc(var(--root-spacing) / 2);
}

/* MISCELLANEOUS */

.container header > h1 {
  margin-top: 0.4em;
}

/* RESPONSIVE */

@media all and (max-width: 700px) {
  :root {
    --max-width: 95%;
  }
}

nav {
  font-size: small;
  margin-bottom: 4em;
  color: #ccc;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li:not(:last-child) {
  margin-right: 0.5em;
}
nav ul li:not(:last-child)::after {
  content: "/";
  margin-left: 0.6em;
}
nav a {
  color: gray;
  text-decoration-color: #ccc;
}

footer {
  color: gray;
  font-size: small;
  margin: 4em 0;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
