:root {
  /* Measurements */
  --border-radius: 0.25em;
  --line-height: 1.5;
  --max-width: 75%;
  --root-spacing: 1em;

  /* Sizes */
  --font-size-small: small;

  /* Colors */
  --color-black: #101010;
  --color-grey-dark: #666;
  --color-grey-light: #ccc;
  --color-grey-superlight: #eee;
  --color-grey: #999;
  --color-highlight: #ff3300;
  --color-highlight-light: #ff0000;
}

html,
body {
  color: var(--color-black);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  line-height: var(--line-height);
}

.container {
  margin: 0 auto;
  max-width: var(--max-width);
}

pre,
code {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
}

a {
  color: var(--color-highlight);
  text-underline-offset: 2px;
}
a:hover {
  color: var(--color-highlight-light);
}

hr {
  border: 0;
  border-top: 1px dotted var(--color-grey-light);
}

em {
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-size: 110%;
}

/* BADGES */

h1 > span,
h2 > span {
  background-color: var(--color-highlight-light);
  border-radius: 2em;
  color: white;
  display: inline-flex;
  font-size: 14px;
  justify-content: center;
  margin-bottom: 0.25em;
  min-width: 0.8em;
  padding: 0.125em 0.5em;
  vertical-align: middle;
}
h1 > span + span,
h2 > span + span {
  margin-left: calc(var(--root-spacing) / 2);
}

/* MISCELLANEOUS */

.container header > h1 {
  margin-top: 0.4em;
}

/* RESPONSIVE */

@media all and (max-width: 700px) {
  :root {
    --max-width: 95%;
  }
}

main h1 {
  color: var(--color-highlight);
}
main nav {
  font-size: small;
  margin-top: 1em;
}
main nav a {
  color: var(--color-grey);
  text-decoration-color: var(--color-grey-light);
}
main nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
main nav ul li {
  display: inline-block;
}
main nav ul li:not(:last-child) {
  margin-right: 0.25em;
}
main nav ul li a[data-entity-type]::before {
  width: 1.125em;
  height: 1.125em;
  vertical-align: middle;
  content: "";
  display: inline-block;
  margin-right: 0.5em;
  background-color: var(--color-grey);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
main nav ul li a[data-entity-type]:hover::before {
  background-color: var(--color-highlight);
}
main nav ul li a[data-entity-type="folder"]::before {
  -webkit-mask-image: url(/img/folder.svg);
  mask-image: url(/img/folder.svg);
}
main nav ul li a[data-entity-type="article"]::before {
  -webkit-mask-image: url(/img/article.svg);
  mask-image: url(/img/article.svg);
}
main nav ul li a[href="/ROOT"]::before {
  -webkit-mask-image: url(/img/root.svg);
  mask-image: url(/img/root.svg);
}
main nav ul li:not(:last-child) a::after {
  width: 1.125em;
  height: 1.125em;
  vertical-align: middle;
  content: "";
  display: inline-block;
  margin-left: 0.5em;
  background-color: var(--color-grey-light);
  -webkit-mask-image: url(/img/chevron.svg);
  mask-image: url(/img/chevron.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

footer {
  color: var(--color-grey);
  font-size: small;
  margin: 4em 0;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer a {
  text-decoration: none;
  color: var(--color-grey);
  border-bottom: 1px dotted var(--color-grey-light);
}
footer li a::before {
  width: 1em;
  height: 1em;
  content: "";
  display: inline-block;

  background-color: var(--color-grey);
  vertical-align: middle;
  margin-right: 0.5em;

  -webkit-mask-image: url(/img/bock.svg);
  mask-image: url(/img/bock.svg);
}

.articles main ul {
  margin: var(--root-spacing) 0;
  padding: 0;
}

.articles main ul a {
  color: var(--color-black);
  text-decoration: none;
}

.articles main ul a:hover {
  color: var(--color-highlight);
  text-decoration: underline;
}

.articles main ul li {
  padding: 0.25em;
  list-style-type: none;
}

.articles main ul li:nth-child(2n) {
  border-top: 1px dotted var(--color-grey-light);
  border-bottom: 1px dotted var(--color-grey-light);
}

.articles main form[role="search"] input {
  border-radius: 0.25em;
  border-radius: var(--border-radius);
  border: 0;
  font-size: large;
  padding: 0.25em;
  border: 1px solid var(--color-grey-light);
  width: 100%;
}

header nav {
  margin-top: 2em;
  font-size: smaller;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
}
header nav ul li:not(:last-child) {
  margin-right: 1.5em;
}
header nav ul li a {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-color: var(--color-grey-light);

  mask-repeat: no-repeat;
  mask-position: center;
}
header nav ul li a:hover {
  background-color: var(--color-highlight);
  transition: background-color 0.7s;
}
header nav ul li span {
  display: none;
}

header nav ul li a[href="/search"] {
  -webkit-mask-image: url(/img/search.svg);
  mask-image: url(/img/search.svg);
}
header nav ul li a[href="/Hello"] {
  -webkit-mask-image: url(/img/home.svg);
  mask-image: url(/img/home.svg);
}
header nav ul li a[href="/random"] {
  -webkit-mask-image: url(/img/random.svg);
  mask-image: url(/img/random.svg);
}
header nav ul li a[href="/articles"] {
  -webkit-mask-image: url(/img/articles.svg);
  mask-image: url(/img/articles.svg);
}
header nav ul li a[href*="/raw"] {
  -webkit-mask-image: url(/img/raw.svg);
  mask-image: url(/img/raw.svg);
}
header nav ul li a[href*="/revisions"] {
  -webkit-mask-image: url(/img/revisions.svg);
  mask-image: url(/img/revisions.svg);
}

.container.raw main pre {
  overflow-x: scroll;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.container.random main {
  background-color: red;
  width: 15em;
  height: 15em;
  margin: 3em auto;

  background-color: var(--color-highlight);

  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url(/img/twenty-die.svg);
  mask-image: url(/img/twenty-die.svg);

  animation: rotation 4s infinite cubic-bezier(1, 2.5, 0, 1.5);
}
